  body {
   font-family: "Plus Jakarta Sans", sans-serif !important;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.container {
   flex: 1;
} 

.listing-link {
   text-decoration: none;
}

/* navbar */
.navbar {
   height: 5rem;
   background-color: white;
}

 /* index.ejs */
.navbar-container {
   display: flex;
   align-items: center;
   position: relative;
   width: 100%;
   overflow: hidden;
}
.fa-compass {
   font-size: 2rem;
   color: rgb(246, 74, 74);
}

.nav-link {
   color: #222222 !important;
}


/* footer */
.f-info-links a {
   text-decoration: none;
   color: #222222 !important;
}

.f-info-links a:hover {
   color: #222222 !important;
   text-decoration: underline;
  
}

.f-info-socials i {
   font-size: 1.2rem;
   margin-right: 1rem;
   color: #222222 !important;
   align-items: center;
   display: flex;
   justify-content: center;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #222222 !important;
   vertical-align: middle;

}

.f-info {
   text-align: center;
   height: 7rem;
   background-color: #cecccc;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   color: #222222 !important;
   align-items: space-evenly;;
}


/* cards */
.listing-card {
   border: none !important;
   margin-bottom: 2rem;
}

.card-img-top {
   border-radius: 1rem !important;
   width: 100% !important;
   object-fit: cover !important;
}

.card-body {
   padding: 0 !important;
}

.card-text p{
   font-weight: 400 !important;
}

/* Card effect */
 .card-img-overlay {
   opacity: 0;
}

.card-img-overlay:hover {
   opacity: 0.2;
   background-color: white;
}

/* new page */
.add-btn,
.edit-btn {
   background-color: #fe424d !important;
   border: none !important;
}  

/* Edit page */
.add-btn {
    background-color: rgb(246, 74, 74) !important;
    border: none !important;
}

/* Show Page */
  .show-img {
   height: 30vh;
}


.btns {
   display: flex;
}

.show-card {
   padding-left: 0;
   padding-right: 0;
} 

#map-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-top: 20px; /* Adjust spacing as needed */
}

#map {
   height: 300px; /* Keeps the height fixed */
   width: 80vw;  /* Adjust width dynamically */
   max-width: 600px; /* Prevents it from getting too wide */
   min-width: 400px; /* Ensures it doesn’t shrink too much */
   border-radius: 10px; /* Optional: Rounded corners */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Shadow effect */
}
